body {
    padding-top: 70px;
}

body {
    font-family:"Microsoft YaHei",微软雅黑, "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "WenQuanYi Micro Hei", sans-serif
}

h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
    font-family:"Microsoft YaHei",微软雅黑, "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", "Lucida Grande", "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "Hiragino Sans GB W3", "Microsoft YaHei UI",  "WenQuanYi Micro Hei", sans-serif
}

/*
Footer
=========================== */
footer {
    border-top: solid 1px #efefef;
    font-size: 13px;
}

footer .container {
    padding: 25px 15px;
}

/*
Clear spacer
=========================== */
.margin-clear {
    margin: 0 !important;
}

.padding-clear {
    padding: 0 !important;
}

.margintop-clear {
    margin-top: 0 !important;
}

.paddingtop-clear {
    padding-top: 0 !important;
}

.marginbot-clear {
    margin-bottom: 0 !important;
}

.paddingbot-clear {
    padding-bottom: 0 !important;
}

.marginleft-clear {
    margin-left: 0 !important;
}

.paddingleft-clear {
    padding-left: 0 !important;
}

.marginright-clear {
    margin-right: 0 !important;
}

.paddingright-clear {
    padding-right: 0 !important;
}

.padding-top40 {
    padding-top: 40px !important;
}

.padding-topt60 {
    padding-top: 60px !important;
}

.padding-top70 {
    padding-top: 70px !important;
}

.padding-bot5 {
    padding-bottom: 5px !important;
}

.padding-bot10 {
    padding-bottom: 10px !important;
}

.padding-bot15 {
    padding-bottom: 15px !important;
}

.padding-bot20 {
    padding-bottom: 20px !important;
}

.padding-bot30 {
    padding-bottom: 30px !important;
}

.padding-bot40 {
    padding-bottom: 40px !important;
}

.padding-bot50 {
    padding-bottom: 50px !important;
}

.padding-bot60 {
    padding-bottom: 60px !important;
}

.padding-bot70 {
    padding-bottom: 70px !important;
}

.margin-mintop10 {
    margin-top: -10px !important;
}

.margin-mintop20 {
    margin-top: -20px !important;
}

.margin-mintop30 {
    margin-top: -30px !important;
}

.margin-mintop60 {
    margin-top: -60px !important;
}

.margin-mintop110 {
    margin-top: -110px !important;
}

.margin-minbot10 {
    margin-bottom: -10px !important;
}

.margin-minbot20 {
    margin-bottom: -20px !important;
}

.margin-minbot30 {
    margin-bottom: -30px !important;
}

.margin-minbot60 {
    margin-bottom: -60px !important;
}

/*
Custom left right spacer
=========================== */
.margin-left10 {
    margin-left: 10px !important;
}

.margin-right10 {
    margin-right: 10px !important;
}

.margin-left20 {
    margin-left: 20px !important;
}

.margin-right20 {
    margin-right: 20px !important;
}

/*
Custom top spacer
=========================== */
.margintop5 {
    margin-top: 5px !important;
}

.margintop10 {
    margin-top: 10px !important;
}

.margintop15 {
    margin-top: 15px !important;
}

.margintop20 {
    margin-top: 20px !important;
}

.margintop25 {
    margin-top: 25px !important;
}

.margintop30 {
    margin-top: 30px !important;
}

.margintop35 {
    margin-top: 35px !important;
}

.margintop40 {
    margin-top: 40px !important;
}

.margintop45 {
    margin-top: 45px !important;
}

.margintop50 {
    margin-top: 50px !important;
}

.margintop55 {
    margin-top: 55px !important;
}

.margintop60 {
    margin-top: 60px !important;
}

.margintop80 {
    margin-top: 80px !important;
}

/*
Custom bottom spacer
=========================== */
.marginbot5 {
    margin-bottom: 5px !important;
}

.marginbot10 {
    margin-bottom: 10px !important;
}

.marginbot15 {
    margin-bottom: 15px !important;
}

.marginbot20 {
    margin-bottom: 20px !important;
}

.marginbot25 {
    margin-bottom: 25px !important;
}

.marginbot30 {
    margin-bottom: 30px !important;
}

.marginbot35 {
    margin-bottom: 35px !important;
}

.marginbot40 {
    margin-bottom: 40px !important;
}

.marginbot45 {
    margin-bottom: 45px !important;
}

.marginbot50 {
    margin-bottom: 50px !important;
}

.marginbot55 {
    margin-bottom: 55px !important;
}

.marginbot60 {
    margin-bottom: 60px !important;
}

.marginbot80 {
    margin-bottom: 80px !important;
}

/*
Pre Code
=========================== */
pre {
    font-family: monospace;
    padding: 5px 25px 30px;
    border: solid 1px #ccc;
    border-left: solid 10px #ccc;
    background-color: #f5f5f5;
    margin-bottom: 30px;
    color: #6f6f6f;
    border-radius: 0px;
}

pre + pre {
    background: #6f6f6f;
}

pre {
    word-break: break-all; /* webkit */
    word-wrap: break-word;
    white-space: pre;
    white-space: -moz-pre-wrap; /* fennec */
    white-space: pre-wrap;
    white-space: pre \9; /* IE7+ */
}

.section.gray pre {
    background-color: #fff;
}

pre span {
    color: #f43438;
}

.projects .thumbnail {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    max-width: 310px;
    border-radius: 0
}

.projects .thumbnail .caption {
    height: 150px;
    overflow-y: hidden;
    color: #555
}

.projects .thumbnail .caption a:hover, .projects .thumbnail .caption a:focus {
    text-decoration: none
}

.projects .thumbnail img {
    max-width: 100%;
    height: auto
}

.banner {
    display: block;
    width: 100%;
    height:600px;
    padding-top: 30.5%;
    background-image: url(../images/banner.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
    cursor:pointer;
}
.banner2 {
    display: block;
    width: 100%;
    padding-top: 30.5%;
    background-image: url(../images/banner2.png);
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center;
    -webkit-transition: all 500ms linear;
    transition: all 500ms linear;
}
.procedure {
    text-align: center;
    position: relative;
    margin: 20px auto 0;
/*    width: 884px;
    height: 350px;
    background: url(../images/procedure.png) no-repeat;*/
    font-size: 20px;
    background-image: url(../images/procedure.png);
    background-size:100% 100%;
    width: 884px;
    height: 350px;
}

.linear{
    width:100%;
    height:60px;
    line-height:40px;
    overflow:hidden;
    background:-moz-linear-gradient(top, #EDEDED,#ffffff);/*火狐*/
    background:-ms-linear-gradient(top,#EDEDED,#ffffff);/*IE*/
    background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(#EDEDED), to(#ffffff));/*谷歌*/
    background-image: -webkit-gradient(linear,left bottom,left top,from(#EDEDED),to(#ffffff));/* Safari & Chrome*/
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EDEDED', endColorstr='#ffffff'); /*IE6 & IE7*/
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#EDEDED', endColorstr='#ffffff')"; /* IE8 */
}
.news {
    padding-top: 40px;
}

#carousel li {
    margin-right: 5px;
}

#carousel img {
    display: block;
    opacity: .5;
    cursor: pointer;
}

#carousel img:hover {
    opacity: 1;
}

#carousel .flex-active-slide img {
    opacity: 1;
    cursor: default;
}

.brandname {
    color: #fff;
    margin-top: 18px;
}

.main-footer {
    background: #202020;
    color: #ffffff;
    text-align: center;
}

.main-footer .list-unstyled > li {
    border-bottom: 1px solid #959595;
    width: 45%;
    height: 60px;
    padding-top: 15px;
    color: #FFF;
    font-size: 16px;
    text-align: left;
}


.copyright {
    background: #000;
    font-size: 13px;
    text-align: center;
    color: #555;
    padding-top: 14px;
    padding-bottom: 20px;
    border-top: 1px solid #303030
}

.copyright span {
    margin: 0 .5em
}

.copyright a {
    color: #555
}

#back_to_top {
    position: fixed;
    bottom: 100px;
    right: 100px;
    display: none;
}

#back_to_top:hover {
    cursor: pointer;
}

.qrcode {
    padding-top: 20px;
    line-height: 30px;
}

.content {
    border: 1px solid #999;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(0, 0, 0, .5);
    padding: 20px;
    margin: 50px 20px 50px 20px;
}
.summary {
    display: block;
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 20px;
    margin:20px 0px;
}


